<app-header 
  *ngIf="!isAuthPage && !isNewsPage"
  (openRequests)="openMyRequests()">
</app-header>

<app-my-requests-modal
  *ngIf="showMyRequests"
  [isAdmin]="isAdmin"
  (close)="closeMyRequests()">
</app-my-requests-modal>

<main>
  <router-outlet></router-outlet>
</main>

<ng-container *ngIf="!isAuthPage && !isNewsPage">
  <app-services></app-services>
  <app-about></app-about>
  <app-stats></app-stats>
  <app-news></app-news>
  <app-social-icons></app-social-icons>
</ng-container>

<app-footer></app-footer>
